<%= form_for(@ap_ikey) do |f| %>
  <% if @ap_ikey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ap_ikey.errors.count, "error") %> prohibited this ap_ikey from being saved:</h2>

      <ul>
      <% @ap_ikey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
